/**
 * Plugin Name: FEEDZY RSS Feeds by b*web
 * Plugin URI: http://b-website.com/
 * Author: Brice CAPOBIANCO
 */
.feedzy-rss .rss_item {
	border-bottom: 1px solid #eee;
}
.feedzy-rss .rss_item .title {
	font-weight: bold;
}
.feedzy-rss .rss_item:after{
	content:'';
	display:block;
	clear: both;
}
.feedzy-rss .rss_item a.rss_image {
	float: left;
	text-decoration: none;
	border: none;
}
.feedzy-rss .rss_item a.rss_image span{
	display:inline-block;
	background-size: cover;
	background-position: 50%;
}
.feedzy-rss .rss_item .rss_image {
	margin: 0.3em 1em 0 0;
}
.feedzy-rss .rss_item .rss_content small {
	display: block;
	font-size: 0.9em;
	font-style:italic;
}

/*TinyMce UI button*/
i.mce-i-feedzy-icon {
  background-image: url('../img/feedzy.svg');
}
.mce-feedzy-media {
	padding-right: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 32px;
}
.mce-feedzy-media-button {
	cursor: pointer;
	width: 28px;
	height: 28px;
	display: block;
	-webkit-font-smoothing: antialiased;
	float: right;
	background-color: #F7F7F7;
	border: 1px solid #DDD;
	font-size: 30px;
	color: #777;
	position: relative;
	line-height: 28px;
	text-align: center;
}