/**
 * Plugin Name: FEEDZY RSS Feeds by b*web
 * Plugin URI: http://b-website.com/
 * Author: Brice CAPOBIANCO
 */
.feedzy-rss .rss_item {
	border-bottom: 1px solid #eee;
}
.feedzy-rss .rss_item .title {
	font-weight: bold;
}
.feedzy-rss .rss_item:after{
	content:'';
	display:block;
	clear: both;
}
.feedzy-rss .rss_item a.rss_image {
	float: left;
	text-decoration: none;
	border: none;
}
.feedzy-rss .rss_item a.rss_image span{
	display:inline-block;
	background-size: cover;
	background-position: 50%;
}
.feedzy-rss .rss_item .rss_image {
	padding: 0.3em 1em 0 0;
}
.feedzy-rss .rss_item .rss_content small {
	display: block;
	font-size: 0.9em;
	font-style:italic;
}
i.mce-i-feedzy-icon {
  background-image: url('../img/feedzy.svg');
}